.mainDiv{
    border: 2px solid red;
    background-image: linear-gradient(to right, red , yellow);
}

.textDiv{

    text-align: center;
    font-size: 2rem;
}

.lessonsDiv{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 5rem;
}

.lessonCard{
    border: 2px solid red;
    display: flex;
    align-items: center;
    margin: 1rem 4rem;
    padding: .5rem;
}